In [1]:
import pandas as pd

In [2]:
address = pd.read_csv('data/address.csv')
course = pd.read_csv('data/course.csv')
employee = pd.read_csv('data/employee.csv')
program = pd.read_csv('data/program.csv')
student = pd.read_csv('data/student.csv')
lecturer = pd.read_csv('data/lecturer.csv')
course_offering = pd.read_csv('data/course_offering.csv')
score = pd.read_csv('data/score.csv')
teaching = pd.read_csv('data/teaching.csv')

**address -> employee -> student -> lecturer -> course -> program -> teaching -> course_offering -> score**

In [3]:
def insert_row(table, data):
    return f'INSERT INTO {table} VALUES{tuple(data)};'

In [4]:
sql = []

for idx, (_, row) in enumerate(address.iterrows(), start=1):
    data = [idx] + row.values.tolist()
    sql.append(insert_row('address', data))

for idx, row in employee.iterrows():
    data = [idx] + row.values.tolist()
    sql.append(insert_row('employee', data))
    
for _, row in student.iterrows():
    data = row.values.tolist()
    sql.append(insert_row('student', data))

for _, row in lecturer.iterrows():
    data = row.values.tolist()
    sql.append(insert_row('lecturer', data))
    
for _, row in course.iterrows():
    data = row.values.tolist()
    sql.append(insert_row('course', data))

for _, row in program.iterrows():
    data = row.values.tolist()
    sql.append(insert_row('program', data))
    
for _, row in teaching.iterrows():
    data = row.values.tolist()
    sql.append(insert_row('teaching', data))
    
for _, row in program.iterrows():
    data = row.values.tolist()
    sql.append(insert_row('program', data))
    
for _, row in course_offering.iterrows():
    data = row.values.tolist()
    sql.append(insert_row('course_offering', data))
    
for _, row in score.iterrows():
    data = row.values.tolist()
    sql.append(insert_row('score', data))

In [5]:
len(sql)

484942

In [7]:
with open('sql/insert_db.sql', 'w', encoding='utf-8') as f:
    f.write('\n'.join(sql))